body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url(nice\ chess\ background.jpg);
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #111;
  color: #f5f5f5;

}
.sidee {
  float:right;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

section {
  margin-top: 500px;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #1ecc27;
  box-sizing: border-box;
  width: 340px; 
  /* Adjust the width to fit your preference */
 
  box-sizing: border-box;
  float: left;
  min-height: 200px;
  height:fit-content;
}

.headingz {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contentz {
  text-decoration: underline;
  font-size: 30px;
}

.location {
  float:right;
  margin-top: 100px;

}
.languages {
  float:right;
  margin-top: 400px;
}
.About{
margin-left: 100px;
margin-top: 800px;
}
.teachex{
  margin-left: 1200px;
  margin-top: 800px;
}

.availability {
  margin-left: 100px;
  margin-top: 1000px;
}
.rating {
  margin-left: 400px;
  margin-top: 1000px;
}
.otherex {
  float: left;
  margin-right: 20px;
}
.skillz {
  float: left;
  margin-right: 20px;
}
.mainimage {
  width: 400px;
  place-content: center;
  height: auto;
}


h1 {

  margin-bottom: 20px;
}

.flag {
  font-size: 20px;
  margin-right: 5px;
}

.contact-info {
  margin-top: 20px;
}

.experience {
  margin-top: 20px;
}

.teaching-methodology {
  margin-top: 20px;
}

.comments-section {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: #f5f5f5;
  overflow-y: auto;
  overflow-x: inherit;
  padding: 20px;
  
}

.comment {
  margin-bottom: 10px;

}

.commentsection {
  width: 100%;
  border-color: aquamarine;
  border-style: dashed;
}

.username {
  font-weight: bold;
}
.superspecialratingstuf {
font-style: italic ;
color: aquamarine;
}

.mainnorm {
  width: 100%; /* Set the width to occupy the full available width */
  max-width: 1000px; /* Optionally set a maximum width to control the content width */
  float:left;
  margin: 0 auto; /* Center the content horizontally within the viewport */
  overflow-x: hidden; /* Hide horizontal overflow */
  
}

/* Remove unnecessary margins for the sections */
section {
  margin-top: 30px;
}

/* Adjust the float and margin for the skillz and otherex sections */
/* Clear the float after the skillz and otherex sections */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.headd{
  float: right;

}
