
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url("nice chess background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

section {
  flex-basis: 48%; /* Adjust the width as needed */
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  border-style: dotted;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.section-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-content {
  margin-left: 20px;
}
  .mainimage {
    left: 50px;
    width: 200px;
    height:auto;
  }

  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  .flag {
    font-size: 20px;
    margin-right: 5px;
  }


  .contact-info {
    margin-top: 20px;
    left: 50px;
  }

  .availability {
    margin-top: 20px;
    font-weight: bold;
    right: 50px
  }

  .about-me {
    margin-top: 20px;
  }

  .experience {
    margin-top: 20px;
  }

  .teaching-methodology {
    margin-top: 20px;
  }